@{
    ViewBag.Title = "Contact";
}

<div class="body-content">
	<div class="jumbotron">
		<div class="row text-center">
			<div class="col-md-3">

				<!-- Facebook -->
				<div class="card text-primary">
					<a href="#" class="f">
						<img class="img-rounded well-lg img-responsive center-block" src="~/images/facebooklogo.png" width="150" height="200" alt="Alternate Text" />
					</a>

					<div class="card-body">
						<p class="panel-body">
							Follow Us On Facebook <br />
							<a href="flightbooker@info.com">FlightBooker</a>
						</p>
					</div>

				</div>
			</div>

			<!-- Twitter -->
			<div class="col-md-3">

				<div class="card text-primary">
					<a href="#" class="f">
						<img class="img-rounded well-lg img-responsive center-block" src="~/images/twitterlogo.png" width="150" height="200" alt="Alternate Text" />
					</a>

					<div class="card-body">
						<p class="panel-body">
							Follow Us On Facebook <br />
							<a href="flightbooker@info.com">Flight_Booker</a>
						</p>
					</div>

				</div>
			</div>

			<!-- Instagram -->
			<div class="col-md-3">

				<div class="card text-primary">
					<a href="#" class="f">
						<img class="img-rounded well-lg img-responsive center-block" src="~/images/instagramlogo.png" width="150" height="200" alt="Alternate Text" />
					</a>

					<div class="card-body">
						<p class="panel-body">
							Follow Us On Facebook <br />
							<a href="flightbooker@info.com">FlightBooker</a>
						</p>
					</div>

				</div>
			</div>

			<!-- Email -->
			<div class="col-md-3">

				<div class="card text-primary">
					<a href="#" class="f">
						<img class="img-rounded well-lg img-responsive center-block" src="~/images/emaillogo.png" width="150" height="200" alt="Alternate Text" />
					</a>

					<div class="card-body">
						<p class="panel-body">
							Email Us <br />
							<a href="flightbooker2021@gmail.com">Flight Booker</a>
							
						</p>
					</div>

				</div>
			</div>
		</div>

		<div class="row" style="padding-left: 80px">
			<address>
				One Microsoft Way<br />
				Redmond, WA 98052-6399<br />
				<abbr title="Phone">P:</abbr>
				425.555.0100
			</address>

			<address>
				<strong>Support:</strong>   <a href="flightbooker2021@gmail.com">Support@FlightBooker.com</a><br />
				<strong>Marketing:</strong> <a href="flightbooker2021@gmail.com">Marketing@FlightBooker.com</a>
			</address>
		</div>
	</div>
</div>